.CompanyComponent {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #f5f5f5;
  width: 20%;
  border-radius: 8px;
  cursor: pointer;
}

.CompanyComponent div {
  width: 10rem;
}

.CompanyComponent div img {
  width: 100%;
}
