.SocialMediaComponent {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 15rem;
  height: 3.5rem;
  background-color: #181818;
  border-bottom: 1px solid #fff;
}

.SocialMediaComponent img {
  width: 2rem;
}

.SocialMediaComponent p {
  font-family: "EffraL", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20.4445px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  position: relative;
  margin: 0;
}

.SocialMediaComponent p::after {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  width: 1rem;
  background-image: linear-gradient(to right, transparent, #181818a4);
}

.SocialMediaComponent svg {
  color: white;
}

@media screen and (min-width: 768px) {
  .SocialMediaComponent {
    width: 22rem;
    border: none;
  }

  .SocialMediaComponent img {
    flex: 1;
  }

  .SocialMediaComponent p {
    flex: 5;
  }

  .SocialMediaComponent svg {
  flex: 1;
  }
}
